body {
    background: black;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    background-color: black;
    padding: 0px;
    margin:0px
}

.tile {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    outline: 1px solid black;
}

h1 {
    color: white;
}

p{
    color: white;
}
strong {
    color: white;
}