html {
  height: max-content;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  min-height: 100vh;
  height: 100%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline;
}