html {
  height: max-content;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  height: 100%;
}

.resume {
  height:max-content;
  box-sizing: content-box;
  width: 80vw; 
  margin: auto;
  z-index: 2;
}

.business-card {
  text-align: center
}

.canvas {
  position: absolute;
  z-index: 1;
}