body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    height: 300px;
    width: 300px;
    border: solid 1px pink;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px pink;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid pink;
    box-sizing: border-box;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    background-color: pink;
}

.cross:before {
    left: 50%;
    width: 20%;
    height: 100%;
    margin-left: -10%
}

.cross:after {
    top: 50%;
    height: 20%;
    width: 100%;
    margin-top: -10%;
}