:root {
  --nav-text-color: #000000;
}
/* Navigation Styles */
#nav {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative; /* Keeps navbar fixed at the top */
  top: 0;
  left: 0;
  z-index: 2;
}

#nav-element {
  opacity: 1;
  padding: 5px;
  background: var(--nav-text-color);
  background-size: 300% 300%;
  text-decoration: none;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 7s linear infinite;
}

/* Desktop Menu Styles */
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px; /* Added for better spacing between items */
}

/* Text Gradient Animation */
@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
